body{
    text-align: center;
    background-color: rgb(107, 255, 105);
}

h1{
    color: rgb(245, 9, 9);
    font-size: 90px;
    font-weight: 900;
    text-shadow: 2px 5px rgb(0, 0, 0);
    margin-top: 5rem;
    font-family: cursive;
}

.band{
    border: 10px solid rgb(255, 13, 0);
    border-radius: 55px;
    margin: 7rem 1rem 0rem;
    width: 10rem;
    height: 10rem;
    font-size: 3rem;
    font-weight: bolder;
    color: darkgreen;
    background-color: rgb(255, 247, 0);
    text-shadow: 2px 2px black;
}

.set{
    display: inline-block;
}

.subset{
    text-align: center;
    display: inline-block;
    text-shadow: 2px 2px rgb(255, 1, 1);
    font-size: 30px;
    font-family: cursive;
    color: rgb(0, 17, 255);
}

.onpress{
   box-shadow: 0 5px 10px 0 #00b0ea;
   opacity: 0.5;
}